.title{
    color:brown;
    width: 50%;
    margin-left: 450px;
    }

.titulos{
    color:brown;
    width: 40%;
    margin-left: 1px;
    border: 4px solid brown;
}
.Foto{
    padding: 100px;

}
.textos{  
color: black;
    width: 40%;
    margin-left: 1px;
    border: 4px solid brown;
}

.body{
border: 10px solid brown;
padding: 5px;
width:1500px;
height: 1500 px;
text-align: justify;
}



